<h1>Daily Tasks</h1>

<ul>
	<li class="task" ng-repeat="task in tasks">
		{{task.title}}
	</li>
</ul>

<div ng-include="'views/nested/many/levels/deep/partial.html'"></div>

<div class="img-tests">
	<img src="/images/bullet.png"/>
	<img src="/images/nested/many/levels/deep/bullet.png"/>
	<img src="/images/bullet.png"/>
	<img src="/images/nested/many/levels/deep/bullet.png"/>
	<img src="/images/bullet.png"/>
	<img src="/images/nested/many/levels/deep/bullet.png"/>
	<img src="/images/bullet.png"/>
</div>
